node_modules
typings
ionic2-rating.js
ionic2-rating.js.map
ionic2-rating.d.ts
index.js
index.js.map
index.d.ts
module.js
module.js.map
module.d.ts
*.spec.js
*.spec.js.map
*.spec.d.ts

# ngc
/compiled
*.metadata.json